

.form-text, .form-textarea, .form-select {
width:20px;
background-color:#f2f2f2; 
border:0px!important;
}


.resizable-textarea {
width:20px;
background-color:#f2f2f2;
}

.form-item, .form-type-textfield, .form-item-20 {
            font-size:200%;
 			width:47.5px;
            height:47.5px;
            float:left; 
            display:block;
            border:0px solid white;
            text-align:center;
            line-height:49.5px;
            background-color:#f2f2f2; 
	
}
		.playfield{
            width:460px;
            height:460px;
		}

          .mydiv{
            width:150px;
            height:150px;
            float:left;
            border:1px solid #ff8a00;
          }
          .myspan{
            font-size:100%;
            width:47.5px;
            height:47.5px;
            float:left; 
            display:block;
            border:1px solid white;
            text-align:center;
            line-height:49.5px;
            background-color:#f2f2f2;  

          }

